{% extends 'Template/base.html' %}

{% block title %}{% block title-meta %}
	درخواست جدید خانه سازمانی
{% endblock %}{% endblock %}

{% block Create %}
    <a class="badge text-primary" href="{% url 'FacilitiesWelfare:CreateROH' %}">درخواست جدید خانه سازمانی</a>
{% endblock %}

{% block main %}
    {% if object_list %}
    <table class="tableResponse">
        <thead>
            <tr>
                <th>کاربر</th>
                <th>خانه سازمانی</th>
                <th>تاریخ ثبت</th>
                <th>تاییدیه</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td data-label="کاربر">{{item.IdUser}}</td>
                <td data-label="خانه سازمانی">{{item.IdOrganizationHouse}}</td>
                <td data-label="تاریخ ثبت">{{item.jDateTimeRegister}}</td>
                <td data-label="تاییدیه">
                    {% if item.IsVerify == 'Y' %}
                        <span>تایید شده</span>
                    {% elif item.IsVerify == 'N' %}
                        <span>تایید نشده</span>
                    {% endif %}
                </td>
                <td data-label="عملیات">
                    {% if user.is_superuser or user.is_FacilitiesWelfare %}
                    <a class="badge text-danger" href="{% url 'FacilitiesWelfare:RegisterOrganizationalHouse-Delete' item.pk %}">حذف</a>
                    <a class="badge text-succsess" href="{% url 'FacilitiesWelfare:RegisterOrganizationalHouse-update' item.pk %}">ویرایش</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row pagination">
        <span class="step-links">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="{% url 'FacilitiesWelfare:homeROH' page_obj.previous_page_number %}">
                        قبلی
                    </a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="{% url 'FacilitiesWelfare:homeROH' page_obj.next_page_number %}">
                        بعدی
                    </a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    {% else %}
    <div style="min-height:200px;">
        <P class="text-center">
            لیست درخواست های خانه سازمانی خالی است
            <br>
            <a href="{% url 'FacilitiesWelfare:CreateROH' %}">
                درخواست جدید خانه سازمانی
            </a>
        </P>
    </div>
    {% endif %}
{% endblock %}