{% extends 'Template/base.html' %}

{% block title %}{% block title-meta %}
	اقلام مصرفی
{% endblock %}{% endblock %}

{% block Create %}
    <a class="badge text-primary" href="{% url 'FacilitiesWelfare:CreateCIR' %}">تعریف اقلام مصرفی</a>
{% endblock %}

{% block main %}
    {% if object_list %}
    <table class="tableResponse">
        <thead>
            <tr>
                <th>آیتم</th>
                <th>کاربر</th>
                <th>مبلغ</th>
                <th>تاریخ درخواست</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td data-label="آیتم">{{item.IdConsumerItems}}</td>
                    <td data-label="کاربر">{{item.IdUser}}</td>
                    <td data-label="مبلغ">
                        {% if item.IdConsumerItems.TypeAssistance == "F" %}
                            <div>رایگان</div>
                        {% elif item.IdConsumerItems.TypeAssistance == "C" %}
                            <span>{{item.IdConsumerItems.HPrice}} ریال</span>
                        {% endif %}
                    </td>
                    <td data-label="تاریخ درخواست">{{item.jDateRegister}}</td>
                    <td data-label="عملیات">
                        {% if user.is_superuser or user.is_FacilitiesWelfare %}
                        <a class="badge text-danger" href="{% url 'FacilitiesWelfare:ConsumerItemsRegister-Delete' item.pk %}">حذف</a>
                        <a class="badge text-succsess" href="{% url 'FacilitiesWelfare:ConsumerItemsRegister-update' item.pk %}">ویرایش</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row pagination">
        <span class="step-links">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="{% url 'FacilitiesWelfare:homeCIR' page_obj.previous_page_number %}">
                        قبلی
                    </a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="{% url 'FacilitiesWelfare:homeCIR' page_obj.next_page_number %}">
                        بعدی
                    </a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    {% else %}
    <div style="min-height:200px;">
        <P class="text-center">
            اقلام مصرفی خالی است
            <br>
            <a href="{% url 'FacilitiesWelfare:CreateCIR' %}">
                تعریف اقلام مصرفی جدید
            </a>
        </P>
    </div>
    {% endif %}
{% endblock %}