{% extends 'Template/base.html' %}

{% block title %}{% block title-meta %}
	لیست فاکتور خرید/فروش
{% endblock %}{% endblock %}

{% block Create %}
    <a class="badge text-primary" href="{% url 'inventory:Receipt-Create' %}">تعریف فاکتور</a>
{% endblock %}


{% block main %}
    {% if object_list %}
    <table class="tableResponse">
        <thead>
            <tr>
                <th>ردیف</th>
                <th>کالا</th>
                <th>واحد سنجش</th>
                <th>تعداد</th>
                <th>مبلغ</th>
                <th>تخفیف</th>
                <th>مالیات</th>
                <th>تاریخ فاکتور</th>
                <th>مشتری</th>
                <th>انبار</th>
                <th>نوع</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td data-label="ردیف">{{item.Id}}</td>
                <td data-label="کالا">{{item.IdCommodity}}</td>
                <td data-label="واحد سنجش">{{item.IdUnitofMeasurement}}</td>
                <td data-label="تعداد">{{item.Count}}</td>
                <td data-label="مبلغ">{{item.Amount}}</td>
                <td data-label="تخفیف">{{item.Discount}}</td>
                <td data-label="مالیات">{{item.Taxation}}</td>
                <td data-label="تاریخ فاکتور">{{item.jDate}}</td>
                <td data-label="مشتری">{{item.IdCustomer}}</td>
                <td data-label="انبار">
                    {% if item.Type == 'B' %}
                        <a href="{% url 'inventory:Receipt-ReportStoreroomBuy' item.IdStoreroom.Id %}" target="_blank">
                            {{item.IdStoreroom}}
                        </a>
                    {% elif item.Type == 'S' %}
                        <a href="{% url 'inventory:Receipt-ReportStoreroomSale' item.IdStoreroom.Id %}" target="_blank">
                            {{item.IdStoreroom}}
                        </a>
                    {% endif %}
                </td>
                <td data-label="نوع">
                    {% if item.Type == 'B' %}
                        <p>خرید</p>
                    {% elif item.Type == 'S' %}
                        <p>فروش</p>
                    {% endif %}
                </td>
                <td data-label="عملیات">
                    {% if user.is_superuser or user.is_storekeeper %}
                    <a class="badge text-danger" href="{% url 'inventory:Receipt-Delete' item.pk %}">حذف</a>
                    <a class="badge text-succsess" href="{% url 'inventory:Receipt-update' item.pk %}">ویرایش</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row pagination">
        <span class="step-links">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="{% url 'inventory:homeRE' page_obj.previous_page_number %}">
                        قبلی
                    </a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="{% url 'inventory:homeRE' page_obj.next_page_number %}">
                        بعدی
                    </a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    {% else %}
    <div style="min-height:200px;">
        <P class="text-center">
            لیست فاکتور خالی است
            <br>
            <a href="{% url 'inventory:Receipt-Create' %}">
                تعریف فاکتور
            </a>
        </P>
    </div>
    {% endif %}
{% endblock %}