{% extends 'Template/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
	ثبت کالا
{% endblock %}{% endblock %}

{% block main %}
<div class="col-md-12">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title mb-0 float-left">تعریف کالا</h3>
		</div>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">{% csrf_token %}
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4">
						{{ form.Status|as_crispy_field }}
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4">
						{{ form.IdCommodity|as_crispy_field }}
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4">
						{{ form.IdStoreroom|as_crispy_field }}
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4">
						{{ form.Count|as_crispy_field }}
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4">
						{{ form.DateEntry|as_crispy_field }}
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4">
						{{ form.IdCustomer|as_crispy_field }}
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4">
						{{ form.Serial|as_crispy_field }}
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4">
						{{ form.DateExpired|as_crispy_field }}
					</div>
					<div class="col-12">
						{{ form.Description|as_crispy_field }}
					</div>
					
				</div>
				<button class="btn btn-success">ثبت</button>
				{% if user.is_superuser and item.pk %}
				<a class="badge text-danger" href="{% url 'inventory:EntryCommodity-Delete' item.pk %}">حذف</a>
				{% endif %}
			</form>
		</div>
</div>
{% endblock %}