{% extends 'Template/base.html' %}


{% block title %}{% block title-meta %}
	لیست کالا
{% endblock %}{% endblock %}

{% block Create %}
    <a class="badge text-primary" href="{% url 'inventory:EntryCommodity-Create' %}">تعریف کالا</a>
{% endblock %}


{% block main %}
    {% if object_list %}
    <table class="tableResponse">
        <thead>
            <tr>
                <th>ردیف</th>
                <th>نام کالا</th>
                <th>نام انبار</th>
                <th>نام مشتری</th>
                <th>تاریخ ورود</th>
                <th>تاریخ انقضا</th>
                <th>سریال</th>
                <th>وضعیت</th>
                <th>توضیحات</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td data-label="ردیف">{{item.Id}}</td>
                    <td data-label="نام کالا">{{item.IdCommodity}}</td>
                    <td data-label="نام انبار">{{item.IdStoreroom}}</td>
                    <td data-label="نام مشتری">{{item.IdCustomer}}</td>
                    <td data-label="تاریخ ورود">{{item.jDateEntry}}</td>
                    <td data-label="تاریخ انقضا">{{item.jDateExpired}}</td>
                    <td data-label="سریال">{{item.Serial}}</td>
                    <td data-label="وضعیت">
                        {% if item.Status == 'i' %}
                            ورود کالا
                        {% elif  item.Status == 'o' %}
                            خروج کالا
                        {% elif  item.Status == 'r' %}
                            مرجوعی کالا
                        {% endif %}
                    </td>
                    <td data-label="توضیحات">{{item.Description|safe}}</td>
                    <td data-label="عملیات">
                        {% if user.is_superuser or user.is_storekeeper %}
                        <a class="badge text-danger" href="{% url 'inventory:EntryCommodity-Delete' item.pk %}">حذف</a>
                        <a class="badge text-succsess" href="{% url 'inventory:EntryCommodity-update' item.pk %}">ویرایش</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row pagination">
        <span class="step-links">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="{% url 'inventory:homeEC' page_obj.previous_page_number %}">
                        قبلی
                    </a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="{% url 'inventory:homeEC' page_obj.next_page_number %}">
                        بعدی
                    </a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    {% else %}
    <div style="min-height:200px;">
        <P class="text-center">
            لیست ورود کالا خالی است
            <br>
            <a href="{% url 'inventory:EntryCommodity-Create' %}">
                تعریف ورود کالا
            </a>
        </P>
    </div>
    {% endif %}
{% endblock %}