{% extends 'Template/base.html' %}

{% block title %}{% block title-meta %}
	کمک های معیشتی نقدی
{% endblock %}{% endblock %}

{% block Create %}
    <a class="badge text-primary">کمک های معیشتی نقدی شما</a>
{% endblock %}

{% block main %}
    {% if object_list %}
    <table class="tableResponse">
        <thead>
            <tr>
                <th>عنوان</th>
                <th>نوع کمک</th>
                <th>مبلغ</th>
                <th>تاریخ ثبت</th>
                <th>توضیحات</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td data-label="عنوان">{{item.Title}}</td>
                    <td data-label="نوع کمک">
                        {% if item.TypeAssistance == 'PU' %}
                            <div>همگانی</div>
                        {% elif item.TypeAssistance == 'PR' %}
                            <div>خاص</div>
                        {% endif %}
                    </td>
                    <td data-label="مبلغ">{{item.HPrice}} ریال</td>
                    <td data-label="تاریخ ثبت">{{item.jDateRegister}}</td>                    
                    <td data-label="توضیحات">{{item.Description|safe}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row pagination">
        <span class="step-links">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="{% url 'FacilitiesWelfare:homeCA' page_obj.previous_page_number %}">
                        قبلی
                    </a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="{% url 'FacilitiesWelfare:homeCA' page_obj.next_page_number %}">
                        بعدی
                    </a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    {% else %}
    <div style="min-height:200px;">
        <P class="text-center">
            کمک های معیشتی خالی است
        </P>
    </div>
    {% endif %}
{% endblock %}