{% extends 'Template/base.html' %}
{% load humanize %}

{% block title %}{% block title-meta %}
	لیست تعمیرات کالاها
{% endblock %}{% endblock %}

{% block Create %}
    <a class="badge text-primary" href="{% url 'inventory:productRepaired-Create' %}">تعریف تعمیر کالا</a>
{% endblock %}


{% block main %}
    {% if object_list %}
    <div style="min-height:200px;">
        <div class="row text-center">
            <div class="col-sm-1"><b>ردیف</b></div>
            <div class="col-sm-1"><b>نام کالا</b></div>
            <div class="col-sm-1"><b>نام مشتری</b></div>
            <div class="col-sm-1"><b>شماره سریال</b></div>
            <div class="col-sm-1"><b>تاریخ ثبت</b></div>
            <div class="col-sm-2"><b>تاریخ تحویل</b></div>
            <div class="col-sm-2"><b>توضیحات</b></div>
            <div class="col-sm-1"><b>وضعیت</b></div>
            <div class="col-sm-1"><b>انبار</b></div>
            <div class="col-sm-1"><b>عملیات</b></div>
        </div>
        {% for item in object_list %}
            <div class="row text-center">
                <div class="col-sm-1">{{item.Id}}</div>
                <div class="col-sm-1">{{item.IdCommodity}}</div>
                <div class="col-sm-1">{{item.IdCustomer}}</div>
                <div class="col-sm-1">{{item.SerialNumber}}</div>
                <div class="col-sm-1">{{item.DateRegistration|naturaltime}}</div>
                <div class="col-sm-2">{{item.jDateDelivery}}</div>
                <div class="col-sm-2">{{item.Description|safe}}</div>
                <div class="col-sm-1">
                    {% if item.Status == 'Y' %}
                        <p>تعمیر شده</p>
                    {% elif item.Status == 'N' %}
                        <p>تعمیر نشده</p>
                    {% endif %}
                </div>
                <div class="col-sm-1">{{item.IdStoreroom}}</div>
                <div class="col-sm-1">
                    {% if user.is_superuser or user.is_storekeeper %}
                    <a class="badge text-danger" href="{% url 'inventory:productRepaired-Delete' item.pk %}">حذف</a>
                    <a class="badge text-succsess" href="{% url 'inventory:productRepaired-update' item.pk %}">ویرایش</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row pagination">
        <span class="step-links">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="{% url 'inventory:homePR' page_obj.previous_page_number %}">
                        قبلی
                    </a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="{% url 'inventory:homePR' page_obj.next_page_number %}">
                        بعدی
                    </a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    {% else %}
    <div style="min-height:200px;">
        <P class="text-center">
            لیست تعمیر خالی است
            <br>
            <a href="{% url 'inventory:productRepaired-Create' %}">
                تعریف تعمیر کالاها
            </a>
        </P>
    </div>
    {% endif %}
{% endblock %}