{% extends 'Template/base.html' %}

{% block title %}{% block title-meta %}
	لیست خدمات فوتی
{% endblock %}{% endblock %}


{% block Create %}
    <a class="badge text-primary" href="{% url 'FacilitiesWelfare:CreateRDS' %}">تعریف خدمات فوت</a>
{% endblock %}

{% block main %}
    {% if object_list %}
    <table class="tableResponse">
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>تاریخ فوت</th>
                <th>پرسنل</th>
                <th>نسبت</th>
                <th>توضیحات</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td data-label="نام">{{item.Name}}</td>
                <td data-label="نام خانوادگی">{{item.Family}}</td>
                <td data-label="تاریخ فوت">{{item.jDeathDate}}</td>
                <td data-label="پرسنل">{{item.IdUser}}</td>
                <td data-label="نسبت">
                    {% if item.Relation == "FA" %}
                        پدر
                    {% elif item.Relation == "MO" %}
                        مادر
                    {% elif item.Relation == "GF" %}
                        پدر بزرگ
                    {% elif item.Relation == "GM" %}
                        مادر بزرگ
                    {% elif item.Relation == "UF" %}
                        عمو
                    {% elif item.Relation == "UM" %}
                        دایی
                    {% elif item.Relation == "AF" %}
                        عمه
                    {% elif item.Relation == "AM" %}
                        خاله
                    {% endif %}
                </td>
                <td data-label="توضیحات">{{item.Description|safe}}</td>
                <td data-label="عملیات">
                    {% if user.is_superuser or user.is_FacilitiesWelfare %}
                    <a class="badge text-danger" href="{% url 'FacilitiesWelfare:RelativesDeathServices-Delete' item.pk %}">حذف</a>
                    <a class="badge text-succsess" href="{% url 'FacilitiesWelfare:RelativesDeathServices-update' item.pk %}">ویرایش</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row pagination">
        <span class="step-links">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="{% url 'FacilitiesWelfare:homeRDS' page_obj.previous_page_number %}">
                        قبلی
                    </a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="{% url 'FacilitiesWelfare:homeRDS' page_obj.next_page_number %}">
                        بعدی
                    </a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    {% else %}
    <div style="min-height:200px;">
        <P class="text-center">
            لیست خدمات فوت خالی است
            <br>
            <a href="{% url 'FacilitiesWelfare:CreateRDS' %}">
                تعریف خدمات فوت
            </a>
        </P>
    </div>
    {% endif %}
{% endblock %}