{% extends 'Template/base.html' %}

{% block title %}{% block title-meta %}
خدمات فوت بستگان
{% endblock %}{% endblock %}

{% block Create %}
    <span class="badge text-primary">لیست خدمات فوت بستگان شما</span>
{% endblock %}

{% block main %}
    {% if object_list %}
    <table class="tableResponse">
        <thead>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>تاریخ فوت</th>
            <th>نسبت</th>
            <th>توضیحات</th>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td data-label="نام">{{item.Name}}</td>
                    <td data-label="نام خانوادگی">{{item.Family}}</td>
                    <td data-label="تاریخ فوت">{{item.jDeathDate}}</td>
                    <td data-label="نسبت">
                        {% if item.Relation == 'FA' %}
                            <span>پدر</span>
                        {% elif item.Relation == 'MO' %}
                            <span>مادر</span>
                        {% elif item.Relation == 'Lo' %}
                            <span>همسر</span>
                        {% elif item.Relation == 'GF' %}
                            <span>پدربزرگ</span>
                        {% elif item.Relation == 'GM' %}
                            <span>مادربزرگ</span>
                        {% elif item.Relation == 'UF' %}
                            <span>عمو</span>
                        {% elif item.Relation == 'UM' %}
                            <span>دایی</span>
                        {% elif item.Relation == 'AF' %}
                            <span>عمه</span>
                        {% elif item.Relation == 'AM' %}
                            <span>خاله</span>
                        {% endif %}
                    </td>
                    <td data-label="توضیحات">{{item.Description|safe}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row pagination">
        <span class="step-links">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="{% url 'FacilitiesWelfare:RelativesDeathServices-List-User' page_obj.previous_page_number %}">
                        قبلی
                    </a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="{% url 'FacilitiesWelfare:RelativesDeathServices-List-User' page_obj.next_page_number %}">
                        بعدی
                    </a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    {% else %}
    <div style="min-height:200px;">
        <P class="text-center">
            بابت فوت بستگان شما تا به حال موردی ثبت نشده است
        </P>
    </div>
    {% endif %}
{% endblock %}