{% extends 'Template/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
	ثبت راننده
{% endblock %}{% endblock %}

{% block main %}
<div class="col-md-12">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title mb-0 float-left">افزودن راننده</h3>
		</div>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">{% csrf_token %}
				<div class="row">
					<div class="col-4">
						{{ form.Name|as_crispy_field }}
					</div>
					<div class="col-4">
						{{ form.Family|as_crispy_field }}
					</div>
					<div class="col-4">
						{{ form.Telephone|as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						{{ form.NationalCode|as_crispy_field }}
					</div>
					<div class="col-4">
						{{ form.LicensePlateNumber|as_crispy_field }}
					</div>
					<div class="col-4">
						{{ form.CarType|as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						{{ form.FreightName|as_crispy_field }}
					</div>
					<div class="col-4">
						{{ form.AccountNumber|as_crispy_field }}
					</div>
					<div class="col-4">
						{{ form.Shabanumber|as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						{{ form.CardNumber|as_crispy_field }}
					</div>
					<div class="col-4">
						{{ form.Address|as_crispy_field }}
					</div>
					<div class="col-4">
						{{ form.Description|as_crispy_field }}
					</div>
				</div>
				<button class="btn btn-success">ثبت راننده</button>
				{% if user.is_superuser and item.pk %}
				<a class="badge text-danger" href="{% url 'inventory:drivers-Delete' item.pk %}">حذف</a>
				{% endif %}
			</form>
		</div>
</div>
{% endblock %}