{% extends 'Template/base.html' %}
{% load humanize %}

{% block title %}{% block title-meta %}
	راننده ها
{% endblock %}{% endblock %}

{% block Css %}
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css">
    <style type="text/css">
    *{
        direction:rtl;
    }
    .SPNName{
        color:rgb(71, 67, 67);
        text-decoration: underline;
    }
    @media print{
        button,h2,.main-footer{
            display: none !important;
        }
    }
    </style>
{% endblock %}
{% block JS %}
    <!-- <script type="text/javascript">
        window.onload = print();
    </script> -->
{% endblock %}
{% block main %}
{% if object_list %}
    <table class="tableResponse">
        <thead>
            <tr>
                <th>شناسه راننده</th>
                <th>نام</th>
                <th>فامیل</th>
                <th>شماره باربری</th>
                <th>شماره همراه</th>
                <th>کد ملی</th>
                <th>شماره پلاک</th>
                <th>نوع ماشین</th>
                <th>توضیحات</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td data-label="شناسه راننده">{{item.DriverCode}}</td>
                    <td data-label="نام">{{item.Name}}</td>
                    <td data-label="فامیل">{{item.Family}}</td>
                    <td data-label="شماره باربری">{{item.FreightName}}</td>
                    <td data-label="شماره همراه">{{item.Telephone}}</td>
                    <td data-label="کدملی">{{item.NationalCode}}</td>
                    <td data-label="شماره پلاک">{{item.LicensePlateNumber}}</td>
                    <td data-label="نوع ماشین">{{item.CarType}}</td>
                    <td data-label="توضیحات">{{item.Description|safe}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2 style="text-align: center;">هنوز مشتری ثبت نشده است</h2>
{% endif %}
<button onclick="print()" class="btn btn-info">پرینت گزارش</button>
{% endblock %}